
body {
    margin: 0;
    background-color: beige;
  }

  header {
    text-align: center;
    position: relative;
    width: 100%;
  }
  
.Banner{
    margin: 0;
    width:100%;
    position: relative;
    background: url("../Images/Hill.jpg") no-repeat center center;
    background-size: cover;
    padding: 100px 0px;

}



.Banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,.4);
    
  }

  .Banner h1, .Banner h2{
    color:black;
    opacity: 1;  
  text-align: center;
  position: relative;
}

  .logHeader{
    background-color: darkolivegreen;
    margin: 0;
    position: relative;
   padding: 1%;
  }

  header nav {
    background-color:rgb(207,185,151);
    width: 100%;
    display: table;
    margin: 0 auto;
    color: #4a4a4a;
    padding: 30px 0;
    text-align: center;
    
  }
  
  
  header nav li {
    display: inline;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
  }

  body{
        text-align: center;
        background-color: burlywood;

  }
  ol{

    display: inline-block;
  }
a{
  text-decoration: none;
}

.start, .side{
  width: 10%;
  display: inline-block;
}

.side{
  height:40%;
}

.start{
  vertical-align:top;
}
.entry{
  display: inline-block;
  vertical-align:top;
  width: 40%;
  padding-left: 5%;
  min-width: 10%;
}

.day1{
  background-color: bisque;
  padding-bottom: 1%;
  
}

 h2{
  margin: 0 0;
}

.day2{
  background-color: darksalmon;
}

iframe{
  margin: 0 auto;
}